/*///////////////////////////////////////////////////////////////////////

	▒▓  Minimal Vivaldi Browser CSS Mod  ▓▒

Author: Shane Burns (https://github.com/shaneburns)

Mod Desc: Spacious, minimal, and clean UI for any ui layout.

Instructions: Copy this file to the directory specified in Settings > Appearance 
	> Custom UI Modifications.
	
Details: This design was created while using the Gradient theme 
	(https://themes.vivaldi.net/themes/V6kJNYnzvWX); though all default
	themes and multiple custom themes have also been tested.
	The inital design only accounted for the following settings:
		- Address Bar Position: Top
		- Tab Bar Position: Left
		- Bookmark Bar Position: Bottom
		- Status Bar: Showing
		- Panels Position: Left
	I have expanded the styles to account for (I think) all ui layouts. 
	If you find any issues with ui layouts or themes, please feel free 
	to create an issue on the GitHub repo.
	Screenshots are highly encouraged!
///////////////////////////////////////////////////////////////////////*/

:root{
	--ui-opacity: .65;
	--ui-spacing: 5px;
	--ui-rounded: 10px;
	--ui-rounded-top: var(--ui-rounded) var(--ui-rounded) 0 0;
	--ui-rounded-bottom: 0 0 var(--ui-rounded) var(--ui-rounded);
	--ui-rounded-left: var(--ui-rounded) 0 0 var(--ui-rounded);
	--ui-rounded-right: 0 var(--ui-rounded) var(--ui-rounded) 0;

	--webview-opacity: 1;
	--address-border-radius: var(--ui-rounded);

	--panel-border-radius: var(--ui-rounded-right);
	--panel-box-shadow: 75px 0 50px -50px #000000;
	--panel-icons-border-radius: var(--ui-rounded-left);

	--tabs-border-radius: 0 var(--ui-rounded) var(--ui-rounded) 0;
	--tabs-margin: 0px;

	--bookmarks-margin: 0px var(--ui-spacing);
	--bookmarks-border-radius: var(--ui-rounded);

	--status-margin: 0 var(--ui-spacing) var(--ui-spacing);
	--status-border-radius: var(--ui-rounded);
}

/* Title Bar 
///////////////////////////////////////////////////////////////////////*/
#browser:not(.is-settingspage) > #header{
	margin: 0px var(--ui-spacing);
	border-radius: var(--ui-rounded-top);
	box-shadow: none !important;
	overflow: hidden;
}
#browser#browser:not(.is-settingspage) > #header:has( > #titlebar){
	margin-top: var(--ui-spacing);
}
#browser:not(.address-top,.bookmark-bar-top,.is-settingspage) > #header{
	border-radius: var(--ui-rounded);
}
#browser.minimal-ui > #header,
#browser.fullscreen > #header{
	margin: 0px;
}
/* Address Bar 
///////////////////////////////////////////////////////////////////////*/
#browser #main .mainbar{
	border-radius: var(--address-border-radius);
	margin: 0px var(--ui-spacing);
}
#browser #main .mainbar .toolbar{
	border-radius: var(--address-border-radius);
	border: none;
}
#browser.address-top.tabs-top #main .mainbar .toolbar{
	--address-border-radius: var(--ui-rounded-bottom);
}
#browser.address-top.bookmark-bar-top.tabs-top #main .mainbar .toolbar{
	border-radius: 0px;
}
#browser.address-top:not(.tabs-top) #main .mainbar{
	margin-top: var(--ui-spacing);
}
#browser.address-bottom:not(.tabs-bottom,:has( footer > div.toolbar)) #main .mainbar{
	margin-bottom: var(--ui-spacing);
}
#browser.address-bottom:not(.bookmark-bar-bottom):has( footer > div.toolbar) #main .mainbar .toolbar{
	--address-border-radius: var(--ui-rounded-top);
}
#browser.address-bottom.bookmark-bar-bottom:has( footer > div.toolbar) #main .mainbar .toolbar,
#browser.address-bottom.bookmark-bar-bottom.tabs-bottom #main .mainbar .toolbar{
	--address-border-radius: 0px;
}
#browser.address-bottom.bookmark-bar-bottom #main .mainbar .toolbar{
	--address-border-radius: var(--ui-rounded-bottom);
}
#browser.bookmark-bar-top:not(.address-bottom) #main .mainbar .toolbar{
	--address-border-radius: var(--ui-rounded-top);
}
#browser.minimal-ui #main .mainbar{
	margin: 0px;
}
/* TODO: account for the different states i.e. bookmark-bar-top */
#main .mainbar .toolbar .window-buttongroup{
	border-radius: var(--ui-rounded);
	overflow: hidden;
}
/* TODO: account for extensions group when #header has #titlebar */


#main:has(.mainbar .toolbar .UrlBar-AddressField .UrlBar-UrlFieldWrapper .UrlField + .OmniDropdown) > .inner > #webview-container{
	--webview-opacity: .2;
}
#main .mainbar .toolbar .UrlBar-AddressField .UrlBar-UrlFieldWrapper .UrlField + .OmniDropdown{
	box-shadow: 0 75px 50px -50px #000000;
}
#browser.address-bottom #main .mainbar .toolbar .UrlBar-AddressField .UrlBar-UrlFieldWrapper .UrlField + .OmniDropdown{
	box-shadow: 0 -75px 50px -50px #000000;
}

/* Inner bits 
///////////////////////////////////////////////////////////////////////*/
#browser:not(.fullscreen) #main > .inner{
	margin: var(--ui-spacing);
}

/* Panel */
#main > .inner > #panels-container, #main > .inner > #panels-container #panels{
	border-radius: var(--panel-icons-border-radius);
}
#main > .inner > #panels-container.right{
	--panel-icons-border-radius: var(--ui-rounded-right);
}
#main > .inner > #panels-container.left:not(:has( + .tabbar-wrapper div.tabbar-wrapper)),
#main > .inner > #panels-container.right:not(:has( + .tabbar-wrapper + #webview-container + div.tabbar-wrapper)){
	--panel-icons-border-radius: var(--ui-rounded);
}
#browser:not(.tabs-left) #main > .inner > #panels-container.left{
	margin-right: 5px;
}
#browser:not(.tabs-right) #main > .inner > #panels-container.right{
	margin-left: 5px;
}
#main > .inner > #panels-container:not(.icons){
	--panel-icons-border-radius: 0px !important;
}
#main > .inner > #panels-container:not(.icons) .panel-group{
	box-shadow: var(--panel-box-shadow);
	border-radius: var(--panel-border-radius);
}
#main > .inner > #panels-container.right:not(.icons) .panel-group{
	--panel-box-shadow: -75px 0 50px -50px #000000;
	--panel-border-radius: var(--ui-rounded-left);
}

/* Tabbar */
#main > .inner > .tabbar-wrapper{
	overflow: hidden;
	margin: var(--tabs-margin);
	border-radius: var(--tabs-border-radius);
}
#browser.tabs-left #main > .inner > .tabbar-wrapper{
	--tabs-margin: 0px var(--ui-spacing) 0px 0px;
}
#browser.tabs-right #main > .inner > span.tabbar-wrapper{
	--tabs-border-radius: var(--ui-rounded-left);
	--tabs-margin: 0px 0px 0px var(--ui-spacing);
}
#browser.tabs-left:has( > #main > .inner > #panels-container.right) #main > .inner > div.tabbar-wrapper,
#browser.tabs-right:has( > #main > .inner > #panels-container.left) #main > .inner > span.tabbar-wrapper{
	--tabs-border-radius: var(--ui-rounded);
}
#browser.tabs-right #main > .inner > div.tabbar-wrapper,
#browser.minimal-ui #main > .inner > .tabbar-wrapper{
	--tabs-margin: 0px;
}

/* Webview Container */
#webview-container{
	border-radius: var(--ui-rounded);
	overflow: hidden;
	opacity: var(--webview-opacity);
	transition: opacity .69s ease-in-out;
}
#browser.fullscreen #webview-container{
	border-radius: 0px;
}
#main > .inner > #panels-container:not(.icons) + .tabbar-wrapper + #webview-container{
	--webview-opacity: .2;
}
#browser.minimal-ui #main > .inner > #panels-container:not(.icons) + .tabbar-wrapper + #webview-container{
	--webview-opacity: 1;
}

/* Bookmarks bar */
#browser .bookmark-bar{
	margin: var(--bookmarks-margin);
	border: none;
	border-radius: var(--bookmarks-border-radius);
	box-shadow: none;
	overflow: hidden;
}
#browser.bookmark-bar-top .bookmark-bar{
	--bookmarks-border-radius: var(--ui-rounded-bottom);
}
#browser.bookmark-bar-top:not(.address-top) .bookmark-bar,
#browser.bookmark-bar-top.tabs-top:not(.address-top) .bookmark-bar{
	--bookmarks-margin: 0px var(--ui-spacing);
	--bookmarks-border-radius: var(--ui-rounded-bottom);
}
#browser.bookmark-bar-bottom .bookmark-bar{
	--bookmarks-border-radius: var(--ui-rounded-top);
}
#browser.bookmark-bar-bottom.address-top:not(.tabs-bottom,:has( footer > div.toolbar)) .bookmark-bar{
	--bookmarks-margin: 0px var(--ui-spacing) var(--ui-spacing);
	--bookmarks-border-radius: var(--ui-rounded);
}
#browser.minimal-ui .bookmark-bar{
	--bookmarks-margin: 0px;
}

/* Footer / Status bar 
///////////////////////////////////////////////////////////////////////*/
#browser footer{
	margin: var(--status-margin);
	border-radius: var(--status-border-radius);
}
#browser.minimal-ui footer{
	--status-margin: 0px;
}
#browser.bookmark-bar-bottom footer,
#browser.address-bottom footer,
#browser.tabs-bottom:has(.bookmark-bar-bottom,.address-bottom) footer{
	--status-border-radius: var(--ui-rounded-bottom);
}

:not(.tabs-bottom)#browser > footer:after{
	display: none;
}


/* Misc. Aesthetics
///////////////////////////////////////////////////////////////////////*/
/* Passive State */
#browser:not(.tabs-top) > #header,
#browser .mainbar,
#browser .bookmark-bar,
#browser:not(.tabs-bottom) footer{
	opacity: var(--ui-opacity);
	transition: opacity 1.38s ease-in-out;
}

/* Hover State */
#browser:not(.tabs-top) > #header:hover,
#browser .mainbar:hover,
#browser .bookmark-bar:hover,
#browser .mainbar:has( > .toolbar .UrlBar-SearchField .vivaldi-searchfield:focus,
> .toolbar .UrlBar-AddressField .UrlBar-UrlFieldWrapper .observer .UrlField #urlFieldInput:focus),
#browser footer:hover{
	--ui-opacity: 1;
}

#browser #tabs-subcontainer{
	box-shadow: none;
}